<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>BÁO GIÁ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin khách hàng</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.content.customerInfo.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.content.customerInfo.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.content.customerInfo.address}}</ion-col>
      </ion-row>

      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin liên hệ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.address}}</ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin dịch vụ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Trạng thái</ion-col>
        <ion-col *ngIf="data.content.status=='0'" col-6>Đã đặt, chưa báo giá</ion-col>
        <ion-col *ngIf="data.content.status=='0a'" col-6>Đã đặt, chưa khảo sát</ion-col>
        <ion-col *ngIf="data.content.status=='0b'" col-6>Đã khảo sát, chưa báo giá</ion-col>
        <ion-col *ngIf="data.content.status=='0c'" col-6>Tổng đài viên đã kết thúc sớm khảo sát</ion-col>
        <ion-col *ngIf="data.content.status=='1'" col-6>Đã báo giá, chưa phản hồi</ion-col>
        <ion-col *ngIf="data.content.status=='1a'" col-6>Cần báo giá lại</ion-col>
        <ion-col *ngIf="data.content.status=='2'" col-6>Phản hồi, cần edit</ion-col>
        <ion-col *ngIf="data.content.status=='3'" col-6>Chưa hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col *ngIf="data.content.status=='4'" col-6>Hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col *ngIf="data.content.status=='5'" col-6>Hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col *ngIf="data.content.status=='6'" col-6>Chưa hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col *ngIf="data.content.status=='7'" col-6>Đã hủy</ion-col>
        <ion-col *ngIf="data.content.status=='8'" col-6>Pending</ion-col>
        <ion-col *ngIf="data.content.status=='2a'" col-6>Đã chấp nhận báo giá, chưa gửi HĐ</ion-col>
        <ion-col *ngIf="data.content.status=='2b'" col-6>Đã gửi HĐ, chưa phản hồi</ion-col>
        <ion-col *ngIf="data.content.status=='2c'" col-6>Đã ký hợp đồng</ion-col>

        <ion-col col-12><button ion-button block
            style="background-color: #2ecc71; color: white; height: 2.5rem; width: 50%; margin-left: 25%;"
            (click)='gotoOrderTracking()'>
            Theo dõi đơn hàng
          </button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Thời gian đặt lịch</ion-col>
        <ion-col col-6>{{data.content.expectedTime}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Hình thức thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.paymentInfo.paymentMethod=='0'">Trả sau bằng tiền mặt</ion-col>
        <ion-col col-6 *ngIf="data.content.paymentInfo.paymentMethod=='1'">Trả trước qua cổng thanh toán</ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin dịch vụ</ion-label>
      </ion-item>

      <ion-row style="background-color: #6CA6CD">
        <ion-col col-6>Tên dịch vụ</ion-col>
        <ion-col col-6>Giá</ion-col>
      </ion-row>

      <ion-row *ngFor="let dv of data.content.orderValue.details">
        <ion-col col-6>{{dv.name}}</ion-col>
        <ion-col col-6>{{dv.charge}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Tổng tiền</ion-col>
        <ion-col col-6>{{data.content.orderValue.sum}}</ion-col>
      </ion-row>

    </ion-card>

    <ion-card *ngIf="data.content.assignInfo.assignee.length>0">
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin Kỹ thuật viên</ion-label>
      </ion-item>

      <ion-row style="background-color: #6CA6CD">
        <ion-col col-6>Họ tên</ion-col>
        <ion-col col-6></ion-col>
      </ion-row>

      <ion-row *ngFor="let ktv of data.content.assignInfo.assignee">
        <ion-col col-6>{{ktv.name}}</ion-col>
        <ion-col col-6 *ngIf="ktv.isTeamLeader==true">Trưởng nhóm</ion-col>
        <ion-col col-6 *ngIf="ktv.isTeamLeader!=true"></ion-col>
      </ion-row>
    </ion-card>

    <ion-row *ngIf="data.content.linkContract!=''">
      <ion-col col-5>Hợp đồng mẫu</ion-col>
      <ion-col col-7 (click)="openContract(data.content.linkContract)">
        <h2
          style="padding-left: 20px; white-space: pre-line; text-decoration: underline; color: blue; font-size: 1.6rem;">
          Link hợp đồng mẫu</h2>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="data.content.priceQuoteFileLink!=''">
      <ion-col col-5>Tập tin đính kèm</ion-col>
      <ion-col col-7 (click)="openContract(data.content.priceQuoteFileLink)">
        <h2
          style="padding-left: 20px; white-space: pre-line; text-decoration: underline; color: blue; font-size: 1.6rem;">
          File báo giá</h2>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="data.content.imageList.length!=0">
      <ion-label style="color: #0551A9;">Hình ảnh</ion-label>
    </ion-item>

    <ion-row *ngIf="data.content.imageList.length!=0">
      <ion-col col-3 *ngFor="let image of data.content.imageList">
        <img style="width: 30vw; height:30vw" src="{{image}}" alt="">
      </ion-col>
    </ion-row>

    <ion-item *ngIf="data.content.videoList!=''">
      <ion-label style="color: #0551A9;">Video</ion-label>
    </ion-item>

    <ion-row>
      <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
        class="videoPlayer" style="width: 100%;" *ngIf="data.content.videoList!=''">
        <source src="{{data.content.videoList}}" type="video/mp4" />
      </video>
    </ion-row>

    <ion-card style="margin-top: 10px;" *ngIf="data.content.status=='1'">
      <h4 style="padding-top: 10px; font-size: 1.25em;text-align: center; margin-left: 5%;color: crimson;">
        Bạn có cần ký hợp đồng hay không?
      </h4>
      <ion-list radio-group style="display: inline-flex; padding-top:15px; padding-left: 25%; margin-bottom: 16px;"
        [(ngModel)]="hasContract" (ionChange)="changeType()">
        <span (click)="changeContractType(1)" style="margin-right:10px;">Có</span>
        <ion-radio value="1"></ion-radio>

        <span style="padding-right:25px; padding-left:25px"></span>

        <span (click)="changeContractType(0)" style="margin-right:10px;">Không</span>
        <ion-radio value="0"></ion-radio>
      </ion-list>
    </ion-card>


    <ion-row *ngIf="data.content.status=='1'">
      <ion-col col-4>
        <button ion-button (click)="acceptOrders()"
          style="border-radius: 10px; background-color: white;color: rgb(7, 163, 41);border: 2px solid rgb(7, 163, 41);"
          block>
          Chấp nhận
        </button>
      </ion-col>

      <ion-col col-4>
        <button ion-button (click)="editOrders()"
          style="border-radius: 10px; background-color: white;color: rgb(241, 225, 0);border: 2px solid rgb(241, 225, 0);"
          block>Sửa lịch
          hẹn</button>
      </ion-col>

      <ion-col col-4>
        <button ion-button (click)="cancelOrders()"
          style="border-radius: 10px; background-color: white;color: #0551A9;border: 2px solid #0551A9;" block>Hủy lịch
          hẹn</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <br><br>

  <div *ngIf="isEdit" style="padding-left: 10px;padding-right: 10px;">
    <ion-card style="margin-top: 10px;" *ngIf="data.content.status=='1'&&+data.content.priceQuoteTimes<3">
      <h4 style="padding-top: 10px; font-size: 1.25em;text-align: center; margin-left: 5%;color: crimson;">
        Bạn có cần gửi lại báo giá không?
      </h4>
      <ion-list radio-group style="display: inline-flex; padding-top:15px; padding-left: 25%; margin-bottom: 16px;"
        [(ngModel)]="hasPriceQuote" (ionChange)="changeTypePriceQuote()">
        <span (click)="changeContractTypePriceQuote(1)" style="margin-right:10px;">Có</span>
        <ion-radio value="1"></ion-radio>

        <span style="padding-right:25px; padding-left:25px"></span>

        <span (click)="changeContractTypePriceQuote(0)" style="margin-right:10px;">Không</span>
        <ion-radio value="0"></ion-radio>
      </ion-list>
    </ion-card>

    <h5>Nội dung cần sửa: </h5>
    <div style=" border: solid 1px #b3b1b1;
        border-radius: 5px;
        padding: 10px;
          margin-top: 10px;
          margin-bottom: 10px;">
      <textarea [(ngModel)]="note" [ngModelOptions]="{standalone: true}" placeholder="Ghi chú..." rows="4" style="width: 100%;  outline: none;    border: none;
          " maxlength="500" (ngModelChange)="txtMaxLengthCheck($event)"></textarea>
      <div style="padding-bottom: 5px">
        <small style="float:right; color:grey; margin-right: 5px">{{txtcounter}}<span>/500</span></small>
      </div>
    </div>
    <button ion-button style="float: right;" (click)="submit()">Đồng ý</button>
    <br><br><br>
  </div>
  <p style="font-size: 13px;color: red; float: right;" *ngIf="noteisNULL==true">
    Cần ghi lý do báo giá lại!
  </p>
  <button class='boutton' ion-button
    style="background-color: #0551A9;color: white;margin-left: 40%;border-radius: 20px;" (click)='closeOrders()'>
    Đóng
  </button>

</ion-content>