<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>GIAO DỊCH GẦN ĐÂY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(233, 233, 233);">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="orders.length>0">
    <ion-card (click)="toDetail(i)" *ngFor="let data of orders; index as i"
      style=" background-color: rgb(30, 0, 202);border-radius: 25px;">
      <ion-item>
        <div style="text-align: center;">
          <button ion-button
            style="background-color: rgb(14, 160, 63);color: white;border: 2px solid rgb(14, 160, 63); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='0'">
            Đã đặt, chưa báo giá
          </button>
          <button ion-button
            style="background-color: rgb(49, 112, 163);color: white;border: 2px solid rgb(49, 112, 163); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='0a'">
            Đã đặt, chưa khảo sát
          </button>
          <button ion-button
            style="background-color: rgb(212, 109, 207);color: white;border: 2px solid rgb(212, 109, 207); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='0b'">
            Đã khảo sát, chưa báo giá
          </button>
          <button ion-button
            style="background-color: rgb(25, 159, 192);color: white;border: 2px solid rgb(25, 159, 192); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='0c'">
            Tổng đài viên đã kết thúc sớm khảo sát
          </button>
          <button ion-button
            style="background-color: rgb(94, 223, 19);color: white;border: 2px solid rgb(94, 223, 19); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='1'">
            Đã báo giá, chưa phản hồi
          </button>
          <button ion-button
            style="background-color: rgb(94, 223, 19);color: white;border: 2px solid rgb(94, 223, 19); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='1a'">
            Cần báo giá lại
          </button>
          <button ion-button
            style="background-color: rgb(203, 218, 0);color: white;border: 2px solid rgb(203, 218, 0); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='2'">
            Phản hồi, cần edit
          </button>
          <button ion-button
            style="background-color: rgb(44, 123, 214);color: white;border: 2px solid rgb(44, 123, 214); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='3'">
            Chưa hoàn tất công việc, chưa thanh toán
          </button>
          <button ion-button
            style="background-color: rgb(26, 72, 197);color: white;border: 2px solid rgb(26, 72, 197); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='4'">
            Hoàn tất công việc, chưa thanh toán
          </button>
          <button ion-button
            style="background-color: rgb(33, 20, 221);color: white;border: 2px solid rgb(33, 20, 221); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='5'">
            Hoàn tất công việc, đã thanh toán
          </button>

          <button ion-button
            style="background-color: rgb(26, 72, 197);color: white;border: 2px solid rgb(26, 72, 197); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='6'">
            Chưa hoàn tất công việc, đã thanh toán
          </button>
          <button ion-button
            style="background-color: rgb(212, 0, 0);color: white;border: 2px solid rgb(212, 0, 0); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='7'">
            Đã hủy
          </button>
          <button ion-button
            style="background-color: rgb(0, 216, 72);color: white;border: 2px solid rgb(0, 216, 72); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='8'">
            Pending
          </button>
          <button ion-button
            style="background-color: rgb(0, 216, 72);color: white;border: 2px solid rgb(0, 216, 72); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='2a'">
            Đã chấp nhận báo giá, chưa gửi HĐ
          </button>
          <button ion-button
            style="background-color: rgb(0, 216, 72);color: white;border: 2px solid rgb(0, 216, 72); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='2b'">
            Đã gửi HĐ, chưa phản hồi
          </button>
          <button ion-button
            style="background-color: rgb(0, 216, 72);color: white;border: 2px solid rgb(0, 216, 72); border-radius: 8px;"
            *ngIf="data.data_item.content.status=='2c'">
            Đã ký hợp đồng
          </button>
        </div>
        <br>

        <ion-grid>
          <ion-row>
            <ion-col col-3>Tên dịch vụ</ion-col>
            <ion-col col-9>
              <div *ngFor="let detail of data.data_item.content.orderValue.details">
                <h2 style="padding-left: 50px;white-space: pre-line;">{{detail.name}}</h2>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Địa chỉ</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px; white-space: pre-line;">{{data.data_item.content.expectedAddress}}</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Thời gian</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px;white-space: pre-line;">{{data.data_item.content.expectedTime}}</h2>
            </ion-col>
          </ion-row>

        </ion-grid>

      </ion-item>
    </ion-card>

    <br><br>
  </ion-list>

  <div *ngIf="orders.length==0">
    <img src="../../assets/imgs/5a36989e03e5e4.326680821513527454016.png"
      style="margin-top: 40vw;width: 50vw;margin-left: 25vw;" alt="">
    <h5 style="text-align: center; color: gray;">Bạn Không Có Đơn Hàng Nào Đã Đặt</h5>
  </div>
</ion-content>