<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>THÔNG TIN CÔNG TY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img src="../../assets/imgs/company.jpg" alt="">
    <ion-item>
      <ion-label><strong>Tên Công ty:</strong> {{company.companyName}}</ion-label><br>
    </ion-item>
    <ion-item (click)="precall()">
      <ion-label><strong>Hotline:</strong> {{company.hotline}} <ion-icon name="call" style="float: right;"></ion-icon></ion-label><br>
    </ion-item>
    <ion-item>
      <ion-label><strong>Địa chỉ:</strong> {{company.companyAddress}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>