<ion-header style="background-color: #b9dcff;">

  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle clear>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title style="color: #0551A9;">{{title}}</ion-title>

    <ion-buttons end (click)="gotoAccount()">
      <button ion-button icon-only clear>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title style="color: white;">DỊCH VỤ PCCC</ion-title> -->
  </ion-navbar>
</ion-header>


<ion-content style="background-color: white;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <h1>DỊCH VỤ PCCC</h1> -->
  <!-- <ion-card *ngFor="let service of services" style=" background-color: #0551A9;border-radius: 15px;">
    <ion-item class="book-cover" style="margin-left: 10px;" (click)="goBookPage(service.data_item.content)">
      <h2 style="color: #0551A9;text-align: center;">
        <strong>{{service.data_item.content.name}}</strong>
      </h2>
      <ion-thumbnail item-left class="thumbnail">
        <img src="{{service.data_item.content.image}}">
      </ion-thumbnail>
      <h2 style="white-space: initial;">
        {{service.data_item.content.description}}
      </h2>
      <p></p>
    </ion-item>
  </ion-card> -->

  <ion-card *ngIf="display">
    <ion-grid>
      <ion-row>
        <ion-col col-3 *ngFor="let service of services" (click)="goBookPage(service.data_item.content)">

          <img src="{{service.data_item.content.image}}">

          <h4 style="color: #0551A9;text-align: center;">
            <strong>{{service.data_item.content.name}}</strong>
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-label style="margin-left: 5%;"><strong>Khuyến mãi nổi bật</strong></ion-label>

  <div style="width: 100vw;">
    <ion-grid no-padding>
      <ion-row style="width: 90%; margin-left: 5%;">
        <ion-col col-6 style="width: 100%;" no-padding>
          <img
            style="margin-left: 5%;max-width: 90%; margin-top: 5%; margin-bottom: 8px;height: 200.563px;width: 157.500;"
            src="../../assets/imgs/Home_Combo.jpg" alt="">
        </ion-col>
        <ion-col col-6 style="width: 100%;" no-padding>
          <img
            style="margin-left: 5%;max-width: 90%; margin-top: 5%; margin-bottom: 8px;height: 200.563px;width: 157.500;"
            src="../../assets/imgs/HTVCHome_Web Banner_800x450 (1) (1).png" alt="">
        </ion-col>
      </ion-row>

      <ion-row style="width: 90%; margin-left: 5%;">
        <ion-col col-6 style="width: 100%;" no-padding>
          <img
            style="margin-left: 5%;max-width: 90%; margin-top: 5%; margin-bottom: 8px;height: 200.563px;width: 157.500;"
            src="../../assets/imgs/Home_Combo.jpg" alt="">
        </ion-col>
        <ion-col col-6 style="width: 100%;" no-padding>
          <img
            style="margin-left: 5%;max-width: 90%; margin-top: 5%; margin-bottom: 8px;height: 200.563px;width: 157.500;"
            src="../../assets/imgs/HTVCHome_Web Banner_800x450 (1) (1).png" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!-- <ion-slides [pager]="true" autoplay="3000" loop="true" speed="500" style="width: 90%;height: 30vh; margin-right: 5%;margin-left: 5%;">
    <ion-slide style="width:100%;height: 100%;">
      <img src="https://9mobi.vn/cf/images/2015/03/nkk/anh-dep-1.jpg"/>
    </ion-slide>
    <ion-slide style="width:100%;height: 100%;">
      <img src="https://taimienphi.vn/tmp/cf/aut/anh-dep-2.jpg"/>
    </ion-slide>
  </ion-slides> -->

</ion-content>