page-sign-up {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
    .coverImg{
        position: absolute;
        z-index: 0;
        top: 0px;
        right: 0px;
        left: 0px;
        background-color: #0551A9;
        height: 30vh;
        // background-size: cover;
        // background-image: url('../../assets/imgs/LOGO\ SAFE\ HOUSE.png');
    }
    .avatar{
        position: absolute;
        z-index: 2;
        border-style: solid;
        border-color: white;
        top: 21.5vh;
        right: 35vw;
    }

    .logo{
        position: absolute;
        z-index: 1;
    }

    .text-input-ios{
        margin: 17px 8px 11px 0;
    }

    .scroll-content {
        padding: 16px;
    }
}
