<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>THÔNG BÁO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2 *ngIf="isNull==false" (click)="deleteAll()" style="text-align: center; color: #60b8e2; font-size: 1.5rem; padding-top: 10px; font-weight: 400;">
    Xóa tất cả thông báo
  </h2>

  <ion-list *ngIf="isNull==false">
    <div *ngFor="let dt of data">
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px;" *ngIf="dt.isNew=='0'">
        <ion-row>
          <ion-col col-11 (click)="goDetail(dt.orderID, dt)">
            <h2 style="text-align: center; white-space: pre-line;">{{dt.message}}</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, dt)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;"
        *ngIf="dt.isNew=='1'">
        <ion-row>
          <ion-col col-11 (click)="goDetail(dt.orderID, dt)">
            <h2 style="text-align: center; white-space: pre-line;">{{dt.message}}</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, dt)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf="isNull==true">
    <img src="../../assets/imgs/686bellwithslash_100970.png" style="margin-top: 50vw;width: 30vw;margin-left: 35%;"
      alt="">
    <h5 style="text-align: center; color: gray;">Bạn không có thông báo nào</h5>
  </div>
    <!-- <div>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, dt)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, dt)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <div>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, task)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, task)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <div>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, task)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <div>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, task)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
    <div>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, task)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;">
        <ion-row>
          <ion-col col-11>
            <h2 style="text-align: center; white-space: pre-line;">dfshdghrnhjbutton ion-button icon-only clear end
              style="float: right; color: darkgray; margin-top: 0px;"</h2>
          </ion-col>
          <ion-col col-1 (click)="gotoSetting($event, task)">
            <ion-icon end ios="md-more" md="md-more" style="float: right;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </div> -->


</ion-content>