<ion-menu [content]="content" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- <ion-list *ngFor="let p of pages">
        <button style="padding-left: 0px;" *ngIf = "p.title!='Kỹ thuật viên'" ion-item (click)="openPage(p)" icon-only>
          <ion-icon style="color: #BE2225;" name="{{p.icon}}"></ion-icon>
          {{p.title}}
        </button>
        <button style="padding-left: 0px;" *ngIf = "p.title=='Kỹ thuật viên'&&serviceProvider.isLogin==true" ion-item (click)="openPage(p)"  icon-only>
          <ion-icon style="color: #BE2225;" name="{{p.icon}}"></ion-icon>
          {{p.title}}
        </button>
      </ion-list> -->
    <ion-list *ngIf="serviceProvider.isCustomer==false">
      <ion-item (click)="openPage(pages[0])">
        <ion-avatar item-start>
          <img src="../assets/imgs/datlich_logo.png" alt="">
        </ion-avatar>
        <h2>{{pages[0].title}}</h2>
      </ion-item>

      <ion-item (click)="openPage(pages[2])">
        <ion-avatar item-start>
          <img src="../assets/imgs/kythuatvien.png" alt="">
        </ion-avatar>
        <h2>{{pages[2].title}}</h2>
      </ion-item>

      <!-- <button style="padding-left: 0px;"ion-item (click)="openPage(pages[0])" icon-only>
          <ion-icon style="color: #BE2225;" name="{{pages[0].icon}}"></ion-icon>
          {{pages[0].title}}
        </button>
        <button style="padding-left: 0px;" ion-item (click)="openPage(pages[2])"  icon-only>
          <ion-icon style="color: #BE2225;" name="{{pages[2].icon}}"></ion-icon>
          {{pages[2].title}}
        </button> -->
    </ion-list>

    <ion-list *ngIf="serviceProvider.isCustomer==true">
      <ion-item (click)="openPage(pages[0])">
        <ion-avatar item-start>
          <img src="../assets/imgs/datlich_logo.png" alt="">
        </ion-avatar>
        <h2>{{pages[0].title}}</h2>
      </ion-item>

      <ion-item (click)="openPage(pages[1])">
        <ion-avatar item-start>
          <img src="../assets/imgs/person.png" alt="">
        </ion-avatar>
        <h2>{{pages[1].title}}</h2>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>