page-calendar {
    ion-calendar{
        padding: 0px !important;
    }
}

.popover-content{
    border-radius: 15px !important;
} 
// .popover-viewport{
//     width: 400px;
//     height: 400px;
// }

// .popover-md-width {
//     width: 80vw !important;
// }

.popover-ios ion-backdrop{
    opacity: 0.6 !important;
}

.popover-md ion-backdrop{
    opacity: 0.6 !important;
}

.calendar_pp .popover-content{
    width: 90vw;
}
