<ion-content padding>
  <ion-calendar [options]="optionsMulti" [(ngModel)]="date" (onChange)="onChange()" [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>
  <ion-row>
    <ion-col col-6>
      <button (click)="cancel()" ion-button block
        style="background-color: #948d8cd6; margin-bottom: 5px;">Hủy</button>
    </ion-col>
    <ion-col col-6>
      <button (click)="save()" ion-button block
        style="background-color: #0551A9; margin-bottom: 5px;">Đồng ý</button>
    </ion-col>
  </ion-row>
</ion-content>