page-detail-task {
    .card-md{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                    0 0px 1px -2px rgba(0, 0, 0, 0.2), 
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    .card-ios{
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                    0 0px 1px -2px rgba(0, 0, 0, 0.2), 
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }

    input.text-input.text-input-md {
        border: 1px solid black;
    }

    input.text-input.text-input-ios {
        border: 1px solid black;
    }
    .select-text{
        display: none;
    }
}
