<ion-header>
  <ion-navbar>
    <ion-title>CHI TIẾT GIAO DỊCH</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin khách hàng</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.content.customerInfo.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.content.customerInfo.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.content.customerInfo.address}}</ion-col>
      </ion-row>

      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin liên hệ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.address}}</ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin dịch vụ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Trạng thái</ion-col>
        <ion-col col-6 *ngIf="data.content.status==0">Đã đặt, chưa báo giá</ion-col>
        <ion-col col-6 *ngIf="data.content.status=='0a'">Đã đặt, chưa khảo sát</ion-col>
        <ion-col col-6 *ngIf="data.content.status=='0b'">Đã khảo sát, chưa báo giá</ion-col>
        <ion-col col-6 *ngIf="data.content.status=='0c'">Tổng đài viên đã kết thúc sớm khảo sát</ion-col>
        <ion-col col-6 *ngIf="data.content.status==1">Đã báo giá, chưa phản hồi</ion-col>
        <ion-col col-6 *ngIf="data.content.status=='1a'">Cần báo giá lại</ion-col>
        <ion-col col-6 *ngIf="data.content.status==2">Phản hồi, cần edit</ion-col>
        <ion-col col-6 *ngIf="data.content.status==3">Chưa hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==4">Hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==5">Hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==6">Chưa hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==7" style="color: red;">Đã hủy</ion-col>
        <ion-col col-6 *ngIf="data.content.status==8" style="color: red;">Pending</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Thời gian đặt lịch</ion-col>
        <ion-col col-6>{{data.content.expectedTime}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Hình thức thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.paymentInfo.paymentMethod=='0'">Trả sau bằng tiền mặt</ion-col>
        <ion-col col-6 *ngIf="data.content.paymentInfo.paymentMethod=='1'">Trả trước qua cổng thanh toán</ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label style="color: #0551A9;">Chi tiết dịch vụ</ion-label>
          </ion-item>
        </ion-col>
        <!-- <ion-col col-4>
          <ion-item>
            <ion-label style="color: #0551A9;">Thêm</ion-label>
          </ion-item>
        </ion-col> -->
        <ion-col col-6 *ngIf="data.content.status == '0a'">
          <!-- <ion-item style="font-size: 1.25rem; text-align: end; color: green;" (click)="gotoUpdateServices()">
            Thêm <ion-icon name="add" style="color: green; zoom: 1.25;"></ion-icon>
          </ion-item> -->
          <ion-item style="text-align: end;">
            <ion-label style="font-size: 1.25rem; text-align: end;">Thay đổi</ion-label>

            <ion-select multiple="true" cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="chosenServices"
              placeholder="Thay đổi" (ionChange)="changeServices()">
              <ion-option *ngFor="let service of services" value={{service.data_item.content.id}}>
                <h2>{{service.data_item.content.name}}</h2>
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <div *ngIf="data.content.status != '0a'">
        <ion-row>
          <ion-col col-6><strong>Tên dịch vụ</strong></ion-col>
          <ion-col col-6><strong>Giá</strong></ion-col>
        </ion-row>

        <ion-row *ngFor="let dv of data.content.orderValue.details">
          <ion-col col-6>{{dv.name}}</ion-col>
          <ion-col col-6>{{dv.charge}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>Tổng tiền</ion-col>
          <ion-col col-6><strong>{{data.content.orderValue.sum}}</strong></ion-col>
        </ion-row>
      </div>

      <div *ngIf="data.content.status == '0a'">
        <ion-row>
          <ion-col col-6><strong>Tên dịch vụ</strong></ion-col>
          <ion-col col-6><strong>Giá dự kiến</strong></ion-col>
        </ion-row>

        <ion-row *ngFor="let dv of orderValue.details">
          <ion-col col-6>{{dv.name}}</ion-col>
          <ion-col col-6>
            <ion-input name="name" [(ngModel)]="dv.charge" placeholder='{{formatNumber(dv.charge)}}' type="number"
              (ionChange)="checkCharge()">
            </ion-input>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6>Tổng tiền</ion-col>
          <ion-col col-6><strong>{{formatNumber(orderValue.sum)}}</strong></ion-col>
        </ion-row>
      </div>

    </ion-card>

    <div *ngIf="assigneeInfo!=undefined">
      <ion-card *ngIf="data.content.assignInfo.assignee.length>0">
        <ion-item>
          <ion-label style="color: #0551A9;">Thông tin Kỹ thuật viên</ion-label>
        </ion-item>

        <ion-row style="background-color: #6CA6CD">
          <ion-col col-6>Họ tên</ion-col>
          <ion-col col-3></ion-col>
          <ion-col col-3>Tiến độ</ion-col>
        </ion-row>

        <ion-row *ngFor="let ktv of data.content.assignInfo.assignee">
          <ion-col col-6>{{ktv.name}}</ion-col>
          <ion-col col-3 *ngIf="ktv.isTeamLeader==true" style="color: blue;">TN</ion-col>
          <ion-col col-3 *ngIf="ktv.isTeamLeader!=true"></ion-col>
          <ion-col col-3 *ngIf="ktv.statusTask=='1'" style="color: green;">Hoàn thành</ion-col>
          <ion-col col-3 *ngIf="ktv.statusTask!='1'" style="color: red;">Chưa hoàn thành</ion-col>
        </ion-row>
      </ion-card>
    </div>

  </ion-grid>

  <div *ngIf="data.content.status == '0a'"
    style=" border: solid 1px #b3b1b1; border-radius: 5px; padding: 10px; margin-top: 30px; margin-bottom: 10px; width: 95%; margin-left: 2.5%;">
    <textarea [(ngModel)]="note" [ngModelOptions]="{standalone: true}" placeholder="Ghi chú" rows="4" style="width: 100%;  outline: none;    border: none;
          " maxlength="500" (ngModelChange)="txtMaxLengthCheck($event)"></textarea>
    <div style="padding-bottom: 10px">
      <small style="float:right; color:grey; margin-right: 5px">{{txtcounter}}<span>/500</span></small>
    </div>
  </div>

  <div *ngIf="data.content.status == '0a'">
    <ion-row>
      <ion-col col-6>
        <button ion-button type="submit" (click)="presentActionPhoto()" style="border: 2px solid #4CAF50;" color="light"
          block icon-only>
          <ion-icon name="images" style="color: #CD950C"></ion-icon>
          Thêm ảnh
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button type="submit" (click)="presentActionVideo()" style="border: 2px solid #4CAF50;" color="light"
          block icon-only>
          <ion-icon name="videocam" style="color: rgb(204, 53, 7)"></ion-icon>
          Thêm video
        </button>
      </ion-col>
    </ion-row>
  </div>

  <div>
    <ion-item *ngIf="data.content.imageList.length!=0">
      <ion-label style="color: #0551A9;">Hình ảnh</ion-label>
    </ion-item>

    <ion-row *ngIf="data.content.imageList.length!=0">
      <ion-col col-3 *ngFor="let image of data.content.imageList; let i=index">
        <img style="width: 30vw; height:30vw" src="{{image}}" alt="">
        <button (click)="delPic1(image, i)" ion-button *ngIf="data.content.status == '0a'">
          <ion-icon ios="md-close" md="md-close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="data.content.status == '0a'">
      <ion-col col-3 *ngFor="let image of imageResponse; let i=index">
        <img style="width: 30vw; height:30vw" src="{{fixDisplayURLFromFileURI(image)}}" alt="">
        <button (click)="delPic(image, i)" ion-button>
          <ion-icon ios="md-close" md="md-close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-item *ngIf="data.content.videoList!=''">
      <ion-label style="color: #0551A9;">Video</ion-label>
    </ion-item>

    <ion-row>
      <!-- <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
        class="videoPlayer" style="width: 360px;" *ngIf="data.content.videoList!=''">
        <source src="{{data.content.videoList}}" type="video/mp4" />
      </video> -->

      <div *ngIf="video!=''" style="background-color: white!important; margin-top:6px; padding-left:4%">
        <div style="background:transparent!important; position: relative !important">
          <button (click)="delVideo()" round ion-button *ngIf="data.content.status == '0a'"
            style="position: absolute !important; top:0; right:5px;   z-index: 1;">
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-item style="background-color: white !important">
            <video *ngIf="data.content.status == '0a' && videoOri != video"
              style="background-color: white !important;width:100%; max-height:200px; border: solid 1px rgb(201, 199, 199); border-radius:15px"
              controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"
              [src]="fixDisplayURLFromFileURI(video)">
            </video>

            <video *ngIf="data.content.status == '0a' && videoOri == video"
              style="background-color: white !important;width:100%; max-height:200px; border: solid 1px rgb(201, 199, 199); border-radius:15px"
              controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"
              [src]="data.content.videoList">
            </video>

            <video *ngIf="data.content.status != '0a'"
              style="background-color: white !important;width:100%; max-height:200px; border: solid 1px rgb(201, 199, 199); border-radius:15px"
              controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"
              [src]="data.content.videoList">
            </video>
          </ion-item>
        </div>
      </div>
    </ion-row>
  </div>

</ion-content>
<ion-footer>
  <div *ngIf="isExamine==false">
    <ion-row *ngIf="assigneeInfo!=undefined && assigneeInfo.isTeamLeader==true">

      <ion-col *ngIf="assigneeInfo.statusTask!='1'&&isFinishTask==false" col-6><button (click)="confirmFinish()"
          ion-button style="background-color: #0551A9;" block>Hoàn tất</button></ion-col>
      <ion-col *ngIf="assigneeInfo.statusTask!='1'&&isFinishTask==true" col-6><button ion-button
          style="background-color: rgb(182, 178, 178);" block>Đã
          hoàn thành</button></ion-col>
      <ion-col *ngIf="assigneeInfo.statusTask!='1'&&isPayment==false" col-6><button (click)="confirmPayment()"
          ion-button style="background-color: #0551A9;" block>Nhận thanh toán</button></ion-col>
      <ion-col *ngIf="assigneeInfo.statusTask!='1'&&isPayment==true" col-6><button ion-button
          style="background-color: rgb(182, 178, 178);" block>Đã
          thanh toán</button></ion-col>

      <button *ngIf="assigneeInfo.statusTask=='1'" disabled ion-button
        style="background-color: rgb(189, 189, 189); color: black;" block>Đã hoàn thành</button>

    </ion-row>

    <div *ngIf="assigneeInfo!=undefined && assigneeInfo.isTeamLeader==false"
      style="margin-left: 5px; margin-right: 5px;">
      <button ion-button style="background-color: #0551A9;" (click)="finishTask()" block
        *ngIf="assigneeInfo.statusTask == '0'">Hoàn thành công việc</button>
      <button ion-button style="background-color: rgb(189, 189, 189); color: black;" disabled block
        *ngIf="assigneeInfo.statusTask != '0'">Đã hoàn thành</button>
    </div>
  </div>
  <div *ngIf="isExamine==true" style="margin-left: 5px; margin-right: 5px;">
    <button ion-button style="background-color: #0551A9;" (click)="preSaveSurvey()" block
      *ngIf="data.content.status == '0a'">Lưu</button>
    <button ion-button style="background-color: rgb(189, 189, 189); color: black;" disabled block
      *ngIf="data.content.status != '0a'">Lưu</button>
  </div>
</ion-footer>