<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LỊCH SỬ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(233, 233, 233)">
  <div style="display: inline; width: 100vw; padding-left: 25%;">
    <button *ngIf="!isSurvey" ion-button style="background-color: #921f0c; width: 25%; opacity: 1; border-radius: 10px;" disabled>Sửa chữa</button>

    <button *ngIf="isSurvey" ion-button style="background-color: #0551a938; width: 25%; color: black; opacity: 0.8; border-radius: 10px;" (click)="changeTask(false)">Sửa chữa</button>

    <button *ngIf="isSurvey" ion-button style="background-color: #921f0c; width: 25%; opacity: 1; border-radius: 10px;" disabled>Khảo sát</button>

    <button *ngIf="!isSurvey" ion-button style="background-color: #0551a938; width: 25%; color: black; opacity: 0.8; border-radius: 10px;"  (click)="changeTask(true)">Khảo sát</button>
  </div>

  <div *ngIf="!isSurvey">
    <ion-list *ngIf="history.length!=0">
      <ion-card *ngFor="let data of history; index as i" style="border-radius: 25px; background-color: #0551A9;">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-3>Tên dịch vụ</ion-col>
              <ion-col col-9>
                <div *ngFor="let detail of data.content.orderValue.details">
                  <h2 style="padding-left: 50px;">{{detail.name}}</h2>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-3>Địa chỉ</ion-col>
              <ion-col col-9>
                <h2 style="padding-left: 50px; white-space: pre-line;">{{data.content.customerInfo.address}}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3>Thời gian</ion-col>
              <ion-col col-9>
                <h2 style="padding-left: 50px; white-space: pre-line;">{{data.content.expectedTime}}</h2>
              </ion-col>
            </ion-row>

          </ion-grid>
          <button ion-button style="margin-left: 40%;border-radius: 20px; background-color: #0551A9;"
            (click)="toDetail(i)">Chi tiết</button>
        </ion-item>
      </ion-card>
      <br><br>
    </ion-list>

    <div *ngIf="history.length==0">
      <img src="../../assets/imgs/folder_delete_256_icon-icons.com_75999.png"
        style="margin-top: 50vw;width: 30vw;margin-left: 35%;" alt="">
      <h5 style="text-align: center; color: gray;">Lịch sử làm việc đang trống</h5>
    </div>
  </div>

  <div *ngIf="isSurvey">
    <ion-list *ngIf="surveyHistory.length!=0">
      <ion-card *ngFor="let data of surveyHistory; index as i" style="border-radius: 25px; background-color: #0551A9;">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-3>Tên dịch vụ</ion-col>
              <ion-col col-9>
                <div *ngFor="let detail of data.content.orderValue.details">
                  <h2 style="padding-left: 50px;">{{detail.name}}</h2>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-3>Địa chỉ</ion-col>
              <ion-col col-9>
                <h2 style="padding-left: 50px; white-space: pre-line;">{{data.content.customerInfo.address}}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3>Thời gian</ion-col>
              <ion-col col-9>
                <h2 style="padding-left: 50px; white-space: pre-line;">{{data.content.expectedTime}}</h2>
              </ion-col>
            </ion-row>

          </ion-grid>
          <button ion-button style="margin-left: 40%;border-radius: 20px; background-color: #0551A9;"
            (click)="toDetail1(i)">Chi tiết</button>
        </ion-item>
      </ion-card>
      <br><br>
    </ion-list>

    <div *ngIf="surveyHistory.length==0">
      <img src="../../assets/imgs/folder_delete_256_icon-icons.com_75999.png"
        style="margin-top: 50vw;width: 30vw;margin-left: 35%;" alt="">
      <h5 style="text-align: center; color: gray;">Lịch sử khảo sát đang trống</h5>
    </div>
  </div>

</ion-content>