<ion-header>
  <ion-navbar>
    <ion-title>TRẠNG THÁI ĐƠN HÀNG</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="" style="margin-top: 20px;">
    <ul class="timeline" *ngFor="let dt of data">
      <li *ngIf="dt.case == 1">
        <div class="timeline-thumb bg-color-blue timeline-icon">
          <ion-icon ios="md-calendar" md="md-calendar"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Đặt lịch</h4>
          <p>Bạn đã đặt lịch thành công</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 2">
        <div class="timeline-thumb bg-color-lightblue timeline-icon">
          <ion-icon name="build"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Khảo sát</h4>
          <p>SAFE HOUSE đã phân công KTV Khảo sát</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 3">
        <div class="timeline-thumb bg-color-green timeline-icon">
          <ion-icon name="build"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Khảo sát thành công</h4>
          <p>KTV khảo sát đã hoàn thành khảo sát</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 22">
        <div class="timeline-thumb bg-color-green timeline-icon">
          <ion-icon name="build"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Khảo sát thành công</h4>
          <p>Tổng đài viên đã kết thúc sớm khảo sát</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 4">
        <div class="timeline-thumb bg-color-lightblue timeline-icon">
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Báo giá</h4>
          <p>SAFE HOUSE đã gửi bảng báo giá cho bạn</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 5">
        <div class="timeline-thumb bg-color-yellow timeline-icon">
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Yêu cầu báo giá lại</h4>
          <p>Bạn đã yêu cầu SAFE HOUSE gửi lại bản báo giá</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 6">
        <div class="timeline-thumb bg-color-lightblue timeline-icon">
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Báo giá lại lần 1</h4>
          <p>SAFE HOUSE đã gửi lại bảng báo giá cho bạn</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 7">
        <div class="timeline-thumb bg-color-yellow timeline-icon">
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Yêu cầu báo giá lại</h4>
          <p>Bạn đã yêu cầu SAFE HOUSE gửi lại bản báo giá</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 8">
        <div class="timeline-thumb bg-color-lightblue timeline-icon">
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Báo giá lại lần 2</h4>
          <p>SAFE HOUSE đã gửi lại bảng báo giá cho bạn</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 9">
        <div class="timeline-thumb bg-color-yellow timeline-icon">
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Yêu cầu báo giá lại</h4>
          <p>Bạn đã yêu cầu SAFE HOUSE gửi lại bản báo giá</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 10">
        <div class="timeline-thumb bg-color-lightblue timeline-icon">
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Báo giá lại lần 3</h4>
          <p>SAFE HOUSE đã gửi lại bảng báo giá cho bạn</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 12">
        <div class="timeline-thumb bg-color-yellow timeline-icon">
          <ion-icon ios="ios-color-wand" md="ios-color-wand"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Chỉnh sửa</h4>
          <p>Bạn đã đồng ý báo giá, và có yêu cầu chỉnh sửa</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 13">
        <div class="timeline-thumb bg-color-blue timeline-icon">
          <ion-icon ios="ios-create" md="ios-create"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Cần ký hợp đồng</h4>
          <p>Bạn đã chấp nhận báo giá và yêu cầu ký hợp đồng</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 14">
        <div class="timeline-thumb bg-color-lightblue timeline-icon">
          <ion-icon ios="ios-create" md="ios-create"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Đã gửi hợp đồng</h4>
          <p>SAFE HOUSE đã gửi hợp đồng cho bạn</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 15">
        <div class="timeline-thumb bg-color-green timeline-icon">
          <ion-icon ios="ios-create" md="ios-create"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Đã ký hợp đồng</h4>
          <p>Bạn và SAFE HOUSE đã ký hợp đồng thành công</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 16">
        <div class="timeline-thumb bg-color-blue timeline-icon">
          <ion-icon ios="ios-construct" md="ios-construct"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Sửa chữa</h4>
          <p>SAFE HOUSE đã phân công sửa chữa các dịch vụ của bạn</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 17">
        <div class="timeline-thumb bg-color-green timeline-icon">
          <ion-icon ios="ios-construct" md="ios-construct"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Đã sửa chữa</h4>
          <p>KTV đã hoàn thành công việc sửa chữa</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 18"  style="border-style: none;">
        <div class="timeline-thumb bg-color-green timeline-icon">
          <ion-icon name="heart"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Thành công</h4>
          <p>SAFE HOUSE đã hoàn thành đơn hàng của bạn</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 19">
        <div class="timeline-thumb bg-color-green timeline-icon">
          <ion-icon ios="ios-cash" md="ios-cash"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Đã thanh toán</h4>
          <p>Bạn đã thanh toán thành công cho đơn hàng</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 20">
        <div class="timeline-thumb bg-color-red timeline-icon">
          <ion-icon name="close"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Đã hủy</h4>
          <p>Đơn hàng của bạn đã hủy</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>
      <li *ngIf="dt.case == 21">
        <div class="timeline-thumb bg-color-yellow timeline-icon">
          <ion-icon name="pause"></ion-icon>
        </div>
        <div class="timeline-item">
          <h4>Pending</h4>
          <p>Đơn hàng của bạn đang trong trạng thái chờ</p>
          <div class="timeline-stats">
            <ion-icon ios="ios-alarm" md="ios-alarm"></ion-icon> {{getDate(dt.datetime)}}
            <span class="pos-absolute-right"><i class="ion-ios-clock"></i> {{getTime(dt.datetime)}}</span>
          </div>
        </div>
      </li>

    </ul>
  </div>
</ion-content>