page-order-tracking {
    /*Optional*/
    .bar-stable {
        background-color: #d9d9d9 !important;
    }
    .tabs {
        background-color: #d9d9d9 !important;
    }
    .icon-size-lg {
        font-size: 40px;
    }

    .timeline-thumb ion-icon {
        zoom: 1.5;
        margin-top: 0.3em;
    }
    .timeline-stats ion-icon {
        vertical-align: bottom;
        font-size: 1.3em;
    }
    /*Timeline*/

    .pos-absolute-right {
        position: absolute;
        right: 8px;
    }

    .timeline {
        position: relative;
        margin: 0px;
    }

    .ion-ios-alarm:before {
        content: "\f3c8";
        color: black;
    }

    .ion-md-alarm:before {
        content: "\f3c8";
        color: black;
    }

    .timeline::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        background: #afdcf8;
        left: 44px;
        margin-left: -10px;
        z-index: 1;
        display: inline;
    }

    .timeline .timeline-thumb {
        border-radius: 500px;
        width: 50px;
        z-index: 2;
        position: absolute;
        left: 10px;
    }

    .timeline .timeline-thumb.timeline-icon {
        height: 50px;
        text-align: center;
        color: white;
        border: 5px solid #cbd0d3;
    }

    .timeline .timeline-thumb.timeline-icon i {
        font-size: 28px;
        margin: 6px 0;
        display: block;
    }

    .timeline .timeline-item {
        margin-left: 72px;
        // border-bottom: 1px solid #ccc;
        padding-bottom: 8px;
    }

    .timeline .timeline-stats {
        position: relative;
        font-size: 12px;
        color: #7f8c8d;
    }

    .divider-title {
        background: #e4e4e4;
        padding: 5px 15px;
    }

    /* === Color Themes === */
    .text-muted {
        color: #6d6d72 !important;
    }

    .color-gray {
        color: #8e8e93 !important;
    }

    .color-red {
        color: #ff3b30 !important;
    }

    .bg-color-red {
        background-color: #ff3b30 !important;
    }

    .color-white {
        color: #ffffff !important;
    }

    .color-yellow {
        color: #ffcc00 !important;
    }

    .bg-color-yellow {
        background-color: #ffcc00 !important;
    }

    .color-green {
        color: #4cd964 !important;
    }

    .color-orange {
        color: #ff9500 !important;
    }

    .bg-color-orange {
        background-color: #ff9500 !important;
    }

    .color-blue {
        color: #007aff !important;
    }

    .bg-color-blue {
        background-color: #007aff !important;
    }

    .color-lightblue {
        color: #5ac8fa !important;
    }

    .bg-color-lightblue {
        background-color: #5ac8fa !important;
    }

    .color-bluegray {
        color: #607d8b !important;
    }

    .bg-color-bluegray {
        background-color: #607d8b !important;
    }

    .color-night {
        color: #2b1b17 !important;
    }

    .color-black {
        color: black !important;
    }

    .bg-color-white {
        background-color: #ffffff;
    }

    .bg-color-green {
        background-color: #4cd964 !important;
    }

    li {
        // border-left-width: 3px;
        // border-style: solid;
        // border-top-width: 0px;
        // border-right-width: 0px;
        // border-bottom-width: 0px;
        // border-color: #5ac8fa ;
        // margin-left: 9%;
        padding-bottom: 30px;
    }

    h4{
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #002e80;
    }
}
