<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{viewTitle}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="today()">Hôm nay</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-calendar [options]="optionsMulti" [(ngModel)]="date" (onChange)="onChange()" [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>

  <div style="margin-left: 50px; margin-left: 25px;margin-right: 25px;" *ngIf="task.length!=0">
    <ion-title>Công việc</ion-title>
    <br>
    <ion-row style="border: blueviolet;">
      <ion-col col-6 style="border: solid 1px grey">Tên dịch vụ</ion-col>
      <ion-col col-6 style="border: solid 1px grey">Địa chỉ</ion-col>
    </ion-row>
    <div *ngFor="let cv of task; index as i">
      <div *ngIf="pastDay==true">
        <ion-row style="background-color: #f03434; color: white;" (click)="toDetail(i)"
          *ngIf="checkStatusTask(cv.content.status,cv.content.assignInfo.deadline, cv.content.surveyByTechnicianInfo.deadline)==0">
          <ion-col col-6 style="border: solid 1px grey">
            <div *ngFor="let dv of cv.content.orderValue.details">
              <p>{{dv.name}}</p>
            </div>
          </ion-col>
          <ion-col col-6 style="border: solid 1px grey">{{cv.content.customerDirectContact.address}}</ion-col>
        </ion-row>

        <ion-row style="background-color: #f4d03f; color: black;" (click)="toDetail(i)"
          *ngIf="checkStatusTask(cv.content.status,cv.content.assignInfo.deadline, cv.content.surveyByTechnicianInfo.deadline)==1">
          <ion-col col-6 style="border: solid 1px grey">
            <div *ngFor="let dv of cv.content.orderValue.details">
              <p>{{dv.name}}</p>
            </div>
          </ion-col>
          <ion-col col-6 style="border: solid 1px grey">{{cv.content.customerDirectContact.address}}</ion-col>
        </ion-row>

        <ion-row (click)="toDetail(i)"
          *ngIf="checkStatusTask(cv.content.status,cv.content.assignInfo.deadline, cv.content.surveyByTechnicianInfo.deadline)==2"
          style="background-color: #2ecc71; color: black;">
          <ion-col col-6 style="border: solid 1px grey">
            <div *ngFor="let dv of cv.content.orderValue.details">
              <p>{{dv.name}}</p>
            </div>
          </ion-col>
          <ion-col col-6 style="border: solid 1px grey">{{cv.content.customerDirectContact.address}}</ion-col>
        </ion-row>

        <ion-row (click)="toDetail(i)"
          *ngIf="checkStatusTask(cv.content.status,cv.content.assignInfo.deadline, cv.content.surveyByTechnicianInfo.deadline)==3"
          style="background-color: #d5b8ff; color: black;">
          <ion-col col-6 style="border: solid 1px grey">
            <div *ngFor="let dv of cv.content.orderValue.details">
              <p>{{dv.name}}</p>
            </div>
          </ion-col>
          <ion-col col-6 style="border: solid 1px grey">{{cv.content.customerDirectContact.address}}</ion-col>
        </ion-row>
      </div>


      <div *ngIf="pastDay==false">
        <ion-row (click)="toDetail(i)" *ngIf="checkStatusTask1(cv.content.status)==0">
          <ion-col col-6 style="border: solid 1px grey">
            <div *ngFor="let dv of cv.content.orderValue.details">
              <p>{{dv.name}}</p>
            </div>
          </ion-col>
          <ion-col col-6 style="border: solid 1px grey">{{cv.content.customerDirectContact.address}}</ion-col>
        </ion-row>

        <ion-row (click)="toDetail(i)"
          *ngIf="checkStatusTask1(cv.content.status)==1"
          style="background-color: #2ecc71; color: black;">
          <ion-col col-6 style="border: solid 1px grey">
            <div *ngFor="let dv of cv.content.orderValue.details">
              <p>{{dv.name}}</p>
            </div>
          </ion-col>
          <ion-col col-6 style="border: solid 1px grey">{{cv.content.customerDirectContact.address}}</ion-col>
        </ion-row>
      </div>
    </div>

  </div>


  <ion-item  *ngIf="task.length==0" text-center style="margin-top: 50px;">
    <h2 style="color: grey; font-weight: bold;">"Không có công việc trong ngày này"</h2>
  </ion-item>


</ion-content>