page-monthtask1 {


    ion-app.ios [padding] .scroll-content {
        padding: 0px;
    }

    .ion-calendar-month button.days-btn {
        background-color: #00000014 !important;
    }

    .toolbar-background-ios {
        background: #0551a9;
    }

    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
        color: white;
        background-color: transparent;
    }

    .toolbar-title-ios {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        color: white;
        pointer-events: auto;
    }

    .tabs-ios .tab-button[aria-selected="true"] .tab-button-icon {
        color: #0551a9;
    }

    .tabs-ios .tab-button[aria-selected="true"] {
        color: #000000;
    }

    .tabs-ios .tab-button {
        max-width: 240px;
        min-height: 49px;
        font-size: 15px;
        font-weight: 500;
        color: #8c8c8c;
        padding: 0 2px;
    }
}

ion-calendar-month .primary .days .today p {
    font-weight: 700;
    color: #ff0000;
}

button.days-btn.marked.today{
    background: rgb(216, 216, 216) !important;
}

button.days-btn.marked.today.on-selected{
    background: #488aff !important;
}

ion-calendar-month .primary button.days-btn small {
    color: rgb(223, 39, 6);
}