<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CÔNG VIỆC HÔM NAY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(233, 233, 233);">
  <ion-list *ngIf="tasks.length!=0">
    <ion-card *ngFor="let data of tasks; index as i" style=" border-radius: 25px; background-color: rgb(30, 0, 202);">
      <ion-item>
        <ion-row>
          <ion-col col-6>
            <h2 style="color: red; float: left;white-space: pre-line; font-weight: bold;" *ngIf="data.content.status=='0a'||data.content.status=='0b'">
              KHẢO SÁT
            </h2>
            <h2 style="color: red; float: left;white-space: pre-line; font-weight: bold;" *ngIf="data.content.status!='0a'&& data.content.status!='0b'">
              SỬA CHỮA
            </h2>
          </ion-col>
          <ion-col col-6>
            <button ion-button
              style="background-color: white;color: black;border: 2px solid rgb(0, 235, 51); border-radius: 8px; float:right;"
              *ngIf="data.content.status=='5'||data.content.status=='0b'">
              Đã xử lý
            </button>
            <button ion-button
              style="background-color: white;color: black;border: 2px solid rgb(173, 0, 9); border-radius: 8px; float:right;"
              *ngIf="data.content.status!='5'&&data.content.status!='0b'">
              Chưa xử lý
            </button>
          </ion-col>
        </ion-row>

        <ion-grid>
          <ion-row>
            <ion-col col-3>Tên dịch vụ</ion-col>
            <ion-col col-9>
              <div *ngFor="let detail of data.content.orderValue.details">
                <h2 style="padding-left: 44px; white-space: pre-line;">{{detail.name}}</h2>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Địa chỉ</ion-col>
            <ion-col col-9 style="padding-left: 50px; white-space: pre-line;">
              {{data.content.customerInfo.address}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Tên KH</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.customerInfo.name}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Số điện thoại</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.customerInfo.phone}}
            </ion-col>
          </ion-row>

          <ion-row style="color: crimson;">
            <ion-col col-3>Hạn cuối</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.assignInfo.deadline}}
            </ion-col>
          </ion-row>

        </ion-grid>
        <div *ngIf="check(data.content.assignInfo.assignee, data.content.status)==0">
          <ion-row>
            <ion-col col-8>
              <button ion-button style="white-space: pre-line; background-color: #00b16a; opacity:inherit" disabled
                block>Bạn đã hoàn thành công việc</button>
            </ion-col>
            <ion-col col-4>
              <button ion-button (click)="toServicesPrice(i)" block>Chi tiết</button>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="check(data.content.assignInfo.assignee, data.content.status)==1">
          <button ion-button style="margin-left: 40%;" (click)="toServicesPrice(i)">Chi tiết</button>
        </div>
      </ion-item>
    </ion-card>

    <br><br>
  </ion-list>
  <ion-list *ngIf="SurveyTasks.length!=0">
    <ion-card *ngFor="let data of SurveyTasks; index as i" style=" border-radius: 25px; background-color: rgb(30, 0, 202);">
      <ion-item>
        <ion-row>
          <ion-col col-6>
            <h2 style="color: red; float: left;white-space: pre-line; font-weight: bold;">
              KHẢO SÁT
            </h2>
            <!-- <button ion-button
            style="background-color: white;color: black;border: 2px solid rgb(255, 255, 255); border-radius: 8px; float: left;;"
            *ngIf="data.content.status=='5'">
            Khảo sát
          </button>
          <button ion-button
            style="background-color: white;color: black;border: 2px solid rgb(255, 255, 255); border-radius: 8px; float: left;;"
            *ngIf="data.content.status!='5'">
            Sửa chữa
          </button> -->
          </ion-col>
          <ion-col col-6>
            <button ion-button
              style="background-color: white;color: black;border: 2px solid rgb(0, 235, 51); border-radius: 8px; float:right;"
              *ngIf="data.content.status!='0a'">
              Đã xử lý
            </button>
            <button ion-button
              style="background-color: white;color: black;border: 2px solid rgb(173, 0, 9); border-radius: 8px; float:right;"
              *ngIf="data.content.status=='0a'">
              Chưa xử lý
            </button>
          </ion-col>
        </ion-row>

        <ion-grid>
          <ion-row>
            <ion-col col-3>Tên dịch vụ</ion-col>
            <ion-col col-9>
              <div *ngFor="let detail of data.content.orderValue.details">
                <h2 style="padding-left: 44px; white-space: pre-line;">{{detail.name}}</h2>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Địa chỉ</ion-col>
            <ion-col col-9 style="padding-left: 50px; white-space: pre-line;">
              {{data.content.customerInfo.address}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Tên KH</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.customerInfo.name}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Số điện thoại</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.customerInfo.phone}}
            </ion-col>
          </ion-row>

          <ion-row style="color: crimson;">
            <ion-col col-3>Hạn cuối</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.surveyByTechnicianInfo.deadline}}
            </ion-col>
          </ion-row>


        </ion-grid>
        <button ion-button style="margin-left: 40%;" (click)="toServicesPrice_Survey(i)">Chi tiết</button>
      </ion-item>
    </ion-card>

    <br><br>
  </ion-list>

  <div *ngIf="tasks.length==0&&SurveyTasks.length==0">
    <img src="../../assets/imgs/document_delete_256_icon-icons.com_75995.png"
      style="margin-top: 50vw;width: 30vw;margin-left: 35%;" alt="">
    <h5 style="text-align: center; color: gray;">Không có công việc</h5>
  </div>
</ion-content>